body
{
	background-color:#FFFFFF;
	margin-top:40px;
}

#container
{
	width:100%;
	height:100%;
	background-color:#555555;
}

#header, #footer
{
	background-color:#026AA7;
	color:#FFFFFF;
	position:relative;
	padding:10px 15px;
	width:100%;
}

#contents
{
	color:#FFFFFF;
	margin:20px;
}

#add-library
{
	cursor:pointer;
}
